/* Regole generali */
* {
    font-family: 'Montserrat', sans-serif;
}

.blocco1::after {
    content: "";
    display: table;
    clear: both;
}

.row2::after {
    content: "";
    display: table;
    clear: both;
}

/* Regole Header */
header {
    height: 190px;
}

/* Regole Main */
main {
    margin: 20px 0;
}

ul {
    list-style-type: none;
}

 header nav ul li  {
    display: inline-block;
    margin-right: 5px;
}

a {
    color: gray;
    text-decoration: none;
}

a:hover {
    color: blue;
}

.leadership {
    font-size: 50px;
}

.blocco1 {
    position: relative;
    height: 700px;
    background-color:darkkhaki;
    margin-bottom: 20px;
    overflow: hidden;
}

.blocco1 img {
    object-fit: cover;
    width: 100%;
}

.alpha {
    width: 100%;
    height: 700px;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.4);
}

.maintext {
    position: absolute;
    bottom: 40px;
    left: 20px;    
    color: white;
}

.maintext p {
    font-size: 20px;
}

.maintext div {
    font-size: 30px;
}

.blocco2 {
    height: 520px;
    background-color:#0187fd;
}

/* Righe nel blocco2 */
.row1, .colside, .colcenter {
    background-color: #abcfe7;
}

.row1 {
    height: 90px;
    margin-bottom: 20px;
}

.colside {
    width: 24%;
    height: 430px;
    float: left;
}

.colcenter {
    width: 50%;
    height: 430px;
    margin-right: 1%;
    margin-left: 1%;
    float: left;
}
/* Fine Main */

/* Regole Footer */
footer {
    height: 50px;
    background-color: blueviolet;
}